:root{
  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
  --Nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);

  --title-font: "Young Serif", serif;
  --paragraph-font: "Outfit", sans-serif;
}

body{
  font-family: var(--paragraph-font);
  color: var(--Wenge-Brown);
  margin: 0;
  padding: 0;
  min-width: 23.437rem;
  counter-reset: ul-counter ol-counter;
}

ul, ol, p, h1, h2{
  padding: 0;
  margin: 0;
  list-style: none;
}
span{
  font-weight: 700;
}
h2{
  font-family: var(--title-font);
  color: var(--Nutmeg);
  font-size: 1.75rem;
  font-weight: 400;
}
p{
  line-height: 1.5;
}

header, section{
  margin: 0 8.5%;
}
hr{
  border: none;
  height: 1px;
  background-color: var(--Light-Grey);
  margin: 1.437rem 8.5% 0 8.5%;
}

.recipe-picture{
  width: 100%;
}
.article-header h1{
  font-family: var(--title-font);
  color: var(--Dark-Charcoal);
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 400;
  margin-block: 2.25rem 1.5rem;
}
.article-header p{
  line-height: 1.5;
  margin-bottom: 2rem;
}

.preparation-section{
  background-color: var(--Rose-White);
  padding: 1.312rem 1.562rem 0.875rem 1.5rem;
  border-radius: 15px;
}
.preparation-section h2{
  color: var(--Dark-Raspberry);
  font-family: var(--paragraph-font);
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.875rem;
}
.preparation-section li,
.ingredient-section li{
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 2.5rem;
  padding-bottom: 0.5rem;

}
.preparation-section li:before,
.ingredient-section li:before{
  counter-increment: ul-counter;
  content:counter(ul-counter, disc);
  color: var(--Dark-Raspberry);
  font-weight: 700;
  position: absolute;
  left: 0.437rem;
}

.ingredient-section li:before{
  color: var(--Nutmeg);
}
.ingredient-section h2{
  margin-block: 1.812rem 1.125rem;
}

.instruction-section h2,
.nutrition-section h2{
  margin-block: 1.687rem  1.125rem;
}

.instruction-section li{
  position: relative;
  padding-left: 2.5rem;
  padding-bottom: 0.5rem;
}
.instruction-section li:before{
  counter-increment: ol-counter;
  content:counter(ol-counter) '.';
  color: var(--Nutmeg);
  font-weight: 700;
  position: absolute;
  left: 0.5rem;
  top: 2px;
}
.instruction-section p{
  line-height: 1.5;
}

.nutrition-section p{
  line-height: 1.5;
  padding-right: 1%;
  margin-bottom: 0.75rem;
}
.nutrition-section ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.nutrition-section li{
  padding-block: 0.875rem 0.812rem;
  border-bottom: 1px solid var(--Light-Grey);
}
.nutrition-section li:nth-child(even)
{
  font-weight: 700;
  color: var(--Nutmeg);
  padding-left: 0.5rem;
}
.nutrition-section li:nth-child(odd){
  padding-left: 2rem;
}
.nutrition-section li:nth-last-child(-n+2){
  border: none;
}

@media (width >= 50rem)
{
  body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Eggshell);
  }

  main{
    width: 46rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.562rem;
    margin-block: 7.937rem;
  }
  header, section, hr, img{
    margin-inline: 2.5rem;
  }
  .recipe-picture{
    width: 41rem;
    border-radius: 0.875rem;
    text-align: center;
    margin-top: 2.5rem;
  }
  .article-header h1{
    font-size: 2.5rem;
    margin-block: 2.375rem 1.375rem;
  }
  .preparation-section{
    padding: 1.5rem 0 1.25rem 1.625rem;
  }
  .nutrition-section li:nth-last-child(-n+2){
    margin-bottom: 1.687rem;    
  }
}

/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
